[submodule "third-party/crypt_blowfish"]
	path = third-party/crypt_blowfish
	url = https://github.com/tomleavy/crypt_blowfish.git
[submodule "third-party/libscrypt"]
	path = third-party/libscrypt
	url = https://github.com/tomleavy/libscrypt.git
[submodule "third-party/protobuf-c"]
	path = third-party/protobuf-c
	url = https://github.com/protobuf-c/protobuf-c.git
[submodule "test/cspec"]
	path = test/cspec
	url = https://github.com/arnaudbrejeon/cspec
