.vs/
CryptoConfig.h
CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
.DS_Store
build*/
/node/
node_modules/
pod_deploy/
compile_commands.json
.ccls-cache
wickr-crypto-sys/target
wickr-crypto-sys/Cargo.lock
