name: iOS
on: [push, pull_request]
env:
  BUILD_TYPE: Release 
jobs:
  Build:
    runs-on: macos-12
    strategy:
      matrix:
        fips: [ON, OFF]
    steps:
      - name: Setup cmake 
        uses: jwlawson/actions-setup-cmake@v1.12
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Build 
        shell: zsh {0}
        working-directory: ${{github.workspace}}
        run: FIPS=${{matrix.fips}} OSSL_SUPPORT_UNAME=${{secrets.OSSL_SUPPORT_UNAME}} OSSL_SUPPORT_PASS=${{secrets.OSSL_SUPPORT_PASS}} OSSL_FIPS_URL=${{secrets.OSSL_FIPS_URL}} ./build-ios-fat.sh
